:root {
  --border-radius: 0.2rem;
}

h3 {
  margin: 0;
  padding: 1em;
  border-bottom: solid 1px black;
  text-align: center;
}

section {
  margin: 0 1em;
}

.contents {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 1em;
  row-gap: 1em;
}

@media screen and (min-width: 690px) {
  .contents {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.contents > div {
  border: solid 1px rgba(0, 0, 0, 0.5);
  border-radius: var(--border-radius);
  background-color: var(--bg-color);
}

.contents > div h3 {
  border-radius: var(--border-radius) var(--border-radius) 0 0;
  background-color: var(--heading-bg-color);
}

.contents > div:nth-child(3n + 1) {
  --bg-color: #BEE796;
  --heading-bg-color: #DFF2CD;
}

.contents > div:nth-child(3n + 2) {
  --bg-color: #FFE4A6;
  --heading-bg-color: #FFF3D8;
}

.contents > div:nth-child(3n) {
  --bg-color: #E394AE;
  --heading-bg-color: #F0CBD7;
}

.contents p {
  margin: 1em;
}

a {
  display: inline-block;
  word-break: break-all;
}

.embedded {
  max-height: 80vh;
  max-width: 100%;
  overflow-y: scroll;
}
